.root{
	-fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(28, 38, 31);
    -fx-padding:10pt;
}
.minuBox{
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
	-fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}
.century1{
	-fx-end-margin:400pt;
}
.centuryCell{
    -fx-border-style: solid; 
    -fx-border-width: 5pt; 
    -fx-border-color: black;
}
.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: orange;
     -fx-text-fill: white;
}

.menu-item:focused .label {
    -fx-text-fill: orange;
    -fx-text-fill: white;
}

.context-menu {
     -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}
.mainMenu{
	-fx-border-style: solid inside;
	     -fx-background-color: orange;
     -fx-text-fill: white;
     -fx-transition:2000;
}

.mainMenu:hover{
	-fx-background-color: #FF7F50;
	 -fx-text-fill: white;
}


















